body{
    background-color: black;
    display: flex;
    justify-content: center;
    min-height: 100%;
    padding: 0%;
    margin: 0%;
    align-items: center;
    box-sizing: border-box;
    padding: 10%;
    
    
}
body div{
    width: 50%;
}

body img{
    width: 100%
}